name: Terraform Security Scan with Checkov
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  checkov-scan:
    name: Run Checkov on Terraform
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Checkov
        run: pip install checkov

      - name: Debug workspace structure
        run: ls -R $GITHUB_WORKSPACE

      - name: Run Checkov scan
        run: checkov -d $GITHUB_WORKSPACE/aks-microservices/terraform/envs/prod --framework terraform --output json --download-external-modules false

      - name: Save Checkov report
        if: always()
        run: checkov -d $GITHUB_WORKSPACE/aks-microservices/terraform/envs/prod --framework terraform --output json --download-external-modules false > checkov_report.json

      - name: Upload Checkov report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkov-report
          path: checkov_report.json