name: Deploy app with Helm Chart

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # required for OIDC
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login via OIDC
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AKS_CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

      - name: Set AKS Context
        run: |
          az aks get-credentials \
            --resource-group ${{ secrets.AKS_RG }} \
            --name ${{ secrets.AKS_NAME }} \
            --overwrite-existing

      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Deploy My App Helm Chart
        working-directory: ./aks-microservices/app/
        run: |
            helm upgrade --install user-service ./helm/user-service \
            --namespace micro-app --create-namespace
            helm upgrade --install order-service ./helm/order-service \
            --namespace micro-app
            helm upgrade --install gateway ./helm/gateway \
            --namespace micro-app

        # helm install user-service ./helm/user-service
        # helm install order-service ./helm/order-service
        # helm install gateway ./helm/gateway